<div class="setting">
<div class="label">
<label for="comment_template"><MT_TRANS phrase="Comments:"></label>
</div>
<div class="field">
<p><textarea name="comment_template" id="comment_template"><TMPL_IF NAME=COMMENT_TEMPLATE><TMPL_VAR NAME=COMMENT_TEMPLATE ESCAPE=HTML></TMPL_IF></textarea></p>
</div>
</div>
